<!DOCTYPE html>
<html>
    <%- partial('_partial/head.ejs') %>
    <body>
        <%- js('js/jquery') %> 
        <%- js('js/jquery.particleground.min') %>        
        <div class="error">
            <h1>警告！！</h1>
            <h1>这是警告！！!</h1>
            <h3>因为您的浏览器屏幕太小，页面展示不下，所以原有DOM元素生气带着它的伙伴离家出走了，如果换成pc端并且单击全屏后再刷新说不定它就回来了</h3>
            <h3>最后，敬在茫茫网站中能发现我网站的你，祝好，以上。。。</h3>
            <h6>我的网站我作主，看不懂中文的你们自己翻译吧☠ &nbsp;&nbsp;&nbsp;&nbsp; ---来自一个任性的博主</h6>
        </div>

        <div class="error2">
            <h1>警告！！</h1>
            <h1>这ye是警告！！!</h1>
            <h3>本人真的不是懒，，，，，（省略一万字）</h3>
            <h3>好吧编不出理由了，我就是懒，本网站只做了谷歌、火狐、Safari的兼容，谁让这是我私有的呢，任性，哈哈，如果打不开请换一个浏览器，说不定你会喜欢我的创意，没毛病，，，</h3>
            <h3>浏览器请用最新的版本，否则我也不知道它会不会癫狂，可别尝试用非以上三种浏览器打开网页，就算您能打开，里面的元素不一定表现出什么癫狂的混乱，反正用qq浏览器打开我癫狂了，不说了，去吃药了。</h3>
            <h3>最后，敬在茫茫网站中能发现我网站的你，祝好，以上。。。</h3>
            <h6>我的网站我作主，看不懂中文的你们自己翻译吧☠ &nbsp;&nbsp;&nbsp;&nbsp; ---来自一个任性的博主</h6>
        </div>

        <main class="main">
            <%- body %>
        </main>

        <%- js('js/index') %>
        <%- js('js/canvas') %>
        <%- js('js/archive') %>
        <%- js('js/search')%>
    </body>
</html>